* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Lora, serif;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: #123456;
	color: #fff;
}
.u-name {
	font-size: 20px;
	padding-left: 17px;
}
.u-name b {
	color: #3090c7;
}
.u-name #navbtn {
    transition: color 0.3s ease; 
}

.u-name:hover #navbtn {
    color: #3090c7; 
}
.header i {
	font-size: 20px;
	cursor: pointer;
	color: #ebf4fa;
}
.header .notification {
    position: relative;
    cursor: pointer;
}

.header .notification span {
    position: absolute;
    top: -8px;
    right: -8px; 
    font-size: 18px; 
    color: #FF0000; 
    font-weight: bold; 
    z-index: 10; 
}

.header .notification:hover i {
    color: #3090c7;
}

.notification-bar {
    display: none;
    width: 90%;
    max-width: 300px;
    position: absolute;
    right: 0;
    background: #eee;
    padding: 5px;
    border-radius: 1px solid #ebf4fa; 
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notification-bar ul li {
    list-style: none;
    margin-top: 10px;
}

.notification-bar ul li:nth-child(even) {
    background: #fff;
}

.notification-bar ul li a {
    text-decoration: none; /* Removes underline */
}

.open-notification {
    display: block;
}

.user-p {
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}
.user-p img {
	width: 100px;
	border-radius: 50%;
}
.user-p h4 {
	color: #ccc;
	padding: 5px 0;
}
.side-bar {
	width: 220px;
	background: #00274D;
	min-height: 100vh;
	transition: 500ms width;
}
.body {
	display: flex;
}
.side-bar ul {
    margin-top: 20px;
    list-style: none;
}
.side-bar ul li {
	font-size: 16px;
	padding: 15px 0px;
	padding-left: 20px;
	transition: 500ms background;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.side-bar ul li:hover {
	background: #3090c7;
}
.side-bar ul li a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
	letter-spacing: 1px;
}
.side-bar .active a {
	color: #3090c7 !important;
}
.side-bar .active a i {
	color: #3090c7 !important;
}
.side-bar ul .active:hover {
	background: transparent;
}
.side-bar ul li a i {
	display: inline-block;
	padding-right: 10px;
	font-size: 20px;
}

#navbtn {
	display : incline-block;
	margin-left: 10px;
	font-size: 20px;
	transition: 500ms color;
}
#checkbox {
	display: none;
}

#checkbox:checked ~ .body .side-bar {
    width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p img {
    width: 40px;
}
#checkbox:checked ~ .body .side-bar .user-p h4 {
    display: none; /* Hides the username completely */
}
#checkbox:checked ~ .body .side-bar a span{
    display: none;
}

.login-body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url("../img/bg1.jpg");
	background-size: cover;
}
.login-body form {
	max-width: 400px;
	width: 30%;
	color: #fff;
}

.user-image img {
	width: 110px; 
	height: 110px; 
	object-fit: cover; 
	margin: 0 auto; 
	display: block; 
}
.btn-primary {
    background-color: #3090c7;
    border-color: #3090c7;
}

.btn-primary:hover {
    transition: background-color 0.3s ease; 
}

.section-1 {
	padding: 30px;
}
.section-1 .title {
    margin-bottom: 10px;
}
.section-1 .title a {
	text-decoration: none;
	display: inline-block;
	padding-left: 10px;
    border: none;
    background: #3090c7;
    padding : 6px 8px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background 1s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.section-1 {
	width: 100%;
	background: #ebf4fa;
}
.section-1 .title a:hover {
	opacity: .7;
}
.main-table, .main-table tr, .main-table th, .main-table td {
    border: 1px solid #aaa;
    border-collapse: collapse;
    padding: 7px;
}
.main-table {
	width: 90%;
	margin-top: 30px;
}
.delete-btn {
	text-decoration: none;
	display: incline-block;
	padding-left: 10px;
    border: none;
    background: #dc381f;
    padding : 4px 7px;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: background 1s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.delete-btn:hover {
	opacity: .7;
}
.edit-btn {
	text-decoration: none;
	display: incline-block;
	padding-left: 10px;
    border: none;
    background: #006ce0;
    padding : 4px 7px;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: background 1s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.edit-btn:hover {
	opacity: .7;
}
.form-1 {
	width: 90%;
	max-width: 500px;
}
.input-holder lable {
	display: block;
	padding: 10px;
}
.input-1 {
	border: 2px solid #000;
	width: 100%;
	padding: 10px;
	font-size: 15px;
	outline: none;
	border-radius: 5px;
	display: block;
}
.input-1:focus {
	border-color: #555;
}
.danger {
	background: #ff98aa;
	color: #b20008;
	padding: 10px;
	margin-bottom: 10px;
}
.success {
	background: #80ce91;
	color: #009d22;
	padding: 10px;
	margin-bottom: 10px;
}
.section-1 .title-2 {
    margin-bottom: 10px;
}
.section-1 .title-2 .btn {
	text-decoration: none;
	display: inline-block;
	padding-left: 10px;
    border: none;
    background: #3090c7;
    padding : 6px 8px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background 1s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.section-1 .title-2 .btn:hover {
	opacity: .7;
}
.section-1 .title-2 a {
	display: inline-block;
	margin-left: 10px;
}
.dashboard {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: flex-start; 
}

.dashboard-item {
    flex: 1 1 calc(33.33% - 20px); 
    max-width: 200px; 
    padding: 30px 5px;
    text-align: center;
    background: #00274D;
    box-sizing: border-box;
}

.dashboard-item i {
	display: block;
	color: #fff;
	font-size: 30px;
	margin-bottom: 5px;
}
.dashboard-item span {
	display: block;
	color: #fff;
}
.dashboard-item:hover {
    transform: scale(1.05); /* Slight zoom effect */
    transition: transform 0.3s ease;
}




